alexa-flow.txt
[{"id":"c915abd4.0b5e58","type":"http in","z":"73e8c0fd.9213d","name":"Incoming Echo Requests","url":"/ubear","method":"post","swaggerDoc":"","x":141,"y":166,"wires":[["d774a056.f41d8","4b9887aa.588a78"]]},{"id":"d774a056.f41d8","type":"switch","z":"73e8c0fd.9213d","name":"Sort by Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":182,"y":272,"wires":[["d03b0871.18a998"],["c33bdfc7.2b3a"],[],[]]},{"id":"c33bdfc7.2b3a","type":"switch","z":"73e8c0fd.9213d","name":"Sort by Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetHelp","vt":"str"}],"checkall":"true","outputs":1,"x":497,"y":354,"wires":[["ee48df98.815ab"]]},{"id":"d22696fe.a41df8","type":"template","z":"73e8c0fd.9213d","name":"Say response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Oh dear. That is unfortunate. An ambulance is on its way.","x":780,"y":517,"wires":[[]]},{"id":"9c1f446c.10f778","type":"template","z":"73e8c0fd.9213d","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\":{\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","x":1021,"y":307,"wires":[["5d99ab1d.2cc414"]]},{"id":"5d99ab1d.2cc414","type":"json","z":"73e8c0fd.9213d","name":"","x":1198.5,"y":307,"wires":[["c62c231f.a9e2c","178fa208.2f381e"]]},{"id":"4b9887aa.588a78","type":"debug","z":"73e8c0fd.9213d","name":"","active":true,"console":"false","complete":"false","x":345,"y":129,"wires":[]},{"id":"c62c231f.a9e2c","type":"http response","z":"73e8c0fd.9213d","name":"","x":1362,"y":306,"wires":[]},{"id":"178fa208.2f381e","type":"debug","z":"73e8c0fd.9213d","name":"","active":true,"console":"false","complete":"false","x":1359,"y":209,"wires":[]},{"id":"d03b0871.18a998","type":"template","z":"73e8c0fd.9213d","name":"Sort by Launch","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"What can I help you with?","x":511,"y":192,"wires":[["c33bdfc7.2b3a"]]},{"id":"ee48df98.815ab","type":"function","z":"73e8c0fd.9213d","name":"GetLocation","func":"if(msg.payload.request.intent.slots.Location.value){\n    var text = \"Alright. I'll pick you up at the\" + msg.payload.request.intent.slots.Location.value + \"soon\";\n} else {\n    var text = \"Oh dear. That's unfortunate. I don't know where you are, so you're on your own.\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":756,"y":361,"wires":[["9c1f446c.10f778"]]}]